<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Client Search</title>
</head>
<body>
         Manager Data:<br><br>
         {% for manager in manager %}
         Name: {{ manager.username }}<br>
         Department: {{ manager.department }}<br/>
         {% endfor %}<br>

        <div class="btn-group" role="group" aria-label="Basic example">
            <button onclick="location.href='../search'" type="button" class="btn btn-secondary">Search</button>
            <button onclick="location.href='../add'" type="button" class="btn btn-secondary">Add</button>
            <button onclick="location.href='../delete'" type="button" class="btn btn-secondary">Delete</button>
            <button onclick="location.href='../update'" type="button" class="btn btn-secondary">Update</button>
        </div>

</body>
</html>