<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>SignUp</title>
</head>
<body>
<br>
    <h1>SignUp</h1>
    <form method="post">
        <form method="post">
        <div class="form-group row">
                <label for="username" class="col-sm-1 col-form-label">Username:</label>
                <div class="form-group mx-sm-3 mb-2">
                    <input type="username" name="username" class="form-control" id="username">
                </div>
            </div>
            <div class="form-group row">
                <label for="password" class="col-sm-1 col-form-label">Password:</label>
                <div class="form-group mx-sm-3 mb-2">
                    <input type="password" name="password" class="form-control" id="password" >
                </div>
            </div>
            <div class="form-group row">
                <label for="department" class="col-sm-1 col-form-label">Department:</label>
                <div class="form-group mx-sm-3 mb-2">
                    <input type="department" name="department" class="form-control" id="department" >
                </div>
            </div>
        <button class="btn btn-primary mb-2" type="SUBMIT">SUBMIT</button>
        <button class="btn btn-primary mb-2" onclick="location.href='../managerSignin'" type="button">
         Cancel</button><br>
    </form><br/>
</body>
</html>