<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Search Result</title>
</head>
<body>
        {{ action }} SUCEESS!!!<br/><br/><br/>
        Name: {{ client.name }}<br/>
        Sexual: {{ client.sexual }}<br/>
        Birthday: {{ client.birthday }}<br/>
        Email: {{ client.email }}<br/>
        Phone: {{ client.phone }}<br/>
        Department: {{ client.department }}<br/>
        Description: {{ client.description }}<br/><br/>
        <button class="btn btn-primary mb-2" onclick="location.href='../clientSearch'" type="button">
        BACK TO THE Manager Page
    </button>
</body>
</html>